.footer-background {
	background: #5e5e5e
}

.custom-footer-hover li a:hover {
    color: greenyellow;
}

.custom-buka-hover {
	color: #ddff00;	
}

.footer-icons {
    padding: 0 10px 0 0px;
    font-size: 18px;
}