html {
  scroll-behavior: smooth;
}

body {
  padding: 20px;
  font-family: sans-serif;
  background: #f2f2f2;
}
.img-size {
  width: 100%; /* need to overwrite inline dimensions */
  max-height: 280px;
  min-height: 280px;
  height: auto;
}
h2 {
  margin-top: 10px;
  margin-bottom: .5em;
  text-align: center;
  font-weight: bold;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
  margin-bottom: 100px;
  margin: 0 auto;
}

video{
  margin:0 auto;
  height:100%;
  width:100%;
}

/* hover styles */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgb(34,139,34,0.6);
  color: white;
  
  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
  color: white;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}