main {
    height: 100vh;
}

.custom-btn-klinik {
    width: 230px;
    display: block;
    float: left;
    margin: 10px 8px;
    font-size: 18px;
}

i.fas.fa-user-md {
    color: #639c1f;
    padding-right: 10px;
}

i.fas.fa-user-cog {
    color: #ff830c;
    padding-right: 10px;
}

.klinik-item a i {
    font-size: 25px;
    padding: 10px 0;
}

.row.klinik-item {
    justify-content: center;
}

.admin-menu {
    opacity: 50%;
}
        
