/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5em;
    color: #515151;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    /*padding: 10px;*/
    background: rgb(99 156 31);
    border: none;
    border-radius: 0;
    margin-bottom: 30px;
    box-shadow: 0 0 10px 5px rgb(16 19 21 / 10%);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}


.custom-nav-btn i{
    padding: 0 14px;
}

.custom-nav-btn-clr {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

a.custom-text-light{
    letter-spacing: 0.5px;
    color: white;
    font-weight: 450;
}

.custom-btn-color {
    background: #447b17;
    color: white;
    /*padding: 12px 14px;*/
}

button.btn.btn-dark.d-inline-block.d-lg-none.ml-auto.collapsed {
    padding: 12px 14px;
}

.custom-icons i {
    padding: 0 15px 0 0px;
    color: #505050;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    background: #24252d;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -300px;
}


#sidebar .sidebar-header {
    padding-top: 20px;
    background: #24252d;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    display: block;
}

.sidebar-header ul li a {
    font-size: 1.1em;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #639c1f;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #464646;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

ul.custom-logo {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0;
    align-items: center;
    text-align: -webkit-center;
}

li.custom-logo-child {
    margin: 8px 0;
    width: 90%;
}

img.logo-upn {
    width: 100px;
    height: 100px;
}

a.logo-text {
    font-weight: 500;
}

a.custom-text-head {
    color: #a4e41d;
}

a.custom-text-body {
    color: #fcfcfc;
}

.span-logo:hover {
    color: green;
}

.custom-menu-sidebar a i {
    font-size: 13px;
    padding: 0 14px;
}

.close-sidebar {
    display: none;
}

.button-times {
    padding: 18px 24px;
    background: #24252d;
    border: none;
    font-size: 24px;
    color: white;
}

.online-P {
    vertical-align: middle;
    color: #1cd2da;
    font-size: 10px;
    padding: 0 10px 0;
}

.online-s {
    vertical-align: middle;
    color: #8cff6c;
    font-size: 10px;
    padding: 0 10px 0;
}

.online-A {
    vertical-align: middle;
    color: #d6c41a;
    font-size: 12px;
    padding: 0 10px 0;
}
/*----------------------------------------------------
------------------MODAL
-----------------------------------------------------*/

.vertical-divider {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  width: auto;
  height: 50%;
  line-height: 0;
  text-align:center;
  text-transform: uppercase;
  transform: translateX(-50%);
}

.vertical-divider:before, 
.vertical-divider:after {
  position: absolute;
  left: 50%;
  content: '';
  z-index: 9;
  border-left: 1px solid rgba(34,36,38,.15);
  border-right: 1px solid rgba(255,255,255,.1);
  width: 0;
  height: calc(100% - 1rem);
}

.row-divided > .vertical-divider {
  height: calc(50% - 1rem);    
}

.vertical-divider:before {
  top: -100%;
}

.vertical-divider:after {
  top: auto;
  bottom: 0;
}

.row-divided {
  position:relative;
}

.row-divided > [class^="col-"],
.row-divided > [class*=" col-"] {
  padding-left: 30px;  /* gutter width (give a little extra room) 2x default */
  padding-right: 30px; /* gutter width (give a little extra room) 2x default */
}

.valnter {
    font-size: 25px;
    color: #252525;
}

.custom-modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.custom-modal-header i {
    font-size: 40px;
    padding: 20px 0;
}

.patient i {
    color: #39a7f0;
}

.patient i:hover {
    color: #6dc5ff;
}

.klinik i {
    color: #639c1f;
}

.klinik i:hover {
    color: #84cd2e;
}
/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 300px);
    padding: 0;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    box-shadow: inset 2px 4px 10px #c7c7c7;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -300px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .shadow-sidebar {
        display: block;
    }
    #sidebar .sidebar-header {
        padding-top: 0px;
    }
    .close-sidebar {
        display: flex;
        flex-direction: row-reverse;
    }
    #content {
        width: 100%;
    }
    #content.active {
        /*width: calc(100% - 300px);*/
        width: 100%;
    }
    #sidebarCollapse span {
        display: none;
    }
    a.custom-text-light {
        padding: 15px 0;
        border-bottom: 1px solid white;
    }
    .vertical-divider:before, .vertical-divider:after {
        display: none;
    }
}