body {
  font-family: "Roboto", serif;
  line-height: 1.25;
  padding: 40px 20px;
}
.header{
  text-align: center;
  border-bottom: 1px solid #ddd;
}
table {
  border: 1px solid green;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}
table caption {
  font-size: 1.5em;
  margin: .25em 0 .75em;
}
table tr {
  background: #8cc3ff;
  border: 1px solid green;
  padding: .35em;
}
table th,
table td {
  padding: .625em;
  text-align: center;
}
table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
  background: #639c1f;
  color: white;
}
table td img {
  text-align: center;
}
@media screen and (max-width: 520px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    display: none;
  }
  table tr {
    border-bottom: 3px solid green;
    display: block;
    margin-bottom: .725em;
  }
  table td {
    border-bottom: 1px solid green;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}