h6{
  margin-top:5px;
}
.link{
  color:yellow;
  font-weight:bold;
  font-size:15px;
  margin-bottom:40px;
}
.link:hover{
  color:cyan;
}
.primer{
  margin-top:20px;
  line-height:80px;
  text-align:center;
  font-weight:bold;
  font-size:20px;
  color:white;
  height:250px;
}
.primer h5{
  background-color:#2c8d67;
  line-height:80px;
  text-align:center;
  font-weight:bold;
}
.primer p{
  font-size:15px;
  color:#f7f7f7;
}
.sekunder{
  margin-top:20px;
  line-height:80px;
  text-align:center;
  font-weight:bold;
  font-size:20px;
  color:white;
  height:300px;
}
.sekunder h5{
  background-color:#2c8d67;
  line-height:80px;
  text-align:center;
  font-weight:bold;
}
.sekunder p{
  font-size:15px;
  color:#f7f7f7;
}
.tersier{
  margin-top:20px;
  line-height:80px;
  text-align:center;
  font-weight:bold;
  font-size:20px;
  color:white;
  height:250px;
}
.tersier h5{
  background-color:#2c8d67;
  line-height:80px;
  text-align:center;
  font-weight:bold;
}
.tersier p{
  font-size:15px;
  color:#f7f7f7;
}
.catatan{
  margin-top:50px;
  line-height:80px;
  text-align:center;
  font-weight:bold;
  font-size:20px;
  color:white;
  height:350px;
  margin-bottom:50px;
}
.catatan h5{
  background-color:#2c8d67;
  line-height:80px;
  text-align:center;
  font-weight:bold;
}
.catatan p{
  font-size:15px;
  color:#f7f7f7;
}
@media (max-width: 768px) {
  .sekunder{
    height:400px;
  }
  .catatan{
    height:500px;
  }
}